@page "/shipment"
@using Cloud4NetDemo.Shared
@using Cloud4NetDemo.Frontend.Services
@inject ShipmentService ShipService

<h3>Shipment</h3>

<EditForm Model="@Request" OnValidSubmit="@HandleValidSubmit">
     <DataAnnotationsValidator />
     <ValidationSummary />
     
    <InputText id="customerId" @bind-Value="Request.CustomerId" />
    <InputText id="packageId" @bind-Value="Request.PackageId" />
     
     
    <button type="submit">Ship</button>
</EditForm>

@if (Response != null)
{
    <div>
        <p>Tracking Number: @Response.TrackingNumber</p>
        <p>Customer Name: @Response.PackageDescription</p>
        <p>Package Description: @Response.CustomerName</p>
    </div>
}

@if (ErrorMessage != null)
{
    @ErrorMessage
}

@code {
    private ShipmentRequestDto Request { get; set; }
    
    private ShipmentTrackerDto Response { get; set; }
    
    private string ErrorMessage { get; set; }

    protected override void OnInitialized()
    {
        Request = new ShipmentRequestDto();
        base.OnInitialized();
    }

    private async Task HandleValidSubmit()
    {
        var result = await ShipService.ShipPackage(Request);
        if (result.Succeeded)
        {
            Response = result.Data;
            ErrorMessage = "";
        }
        else
        {
            Response = null;
            ErrorMessage = result.Messages.FirstOrDefault();
        }
   
    // Process the valid form
    }
}